@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    font-size: 1.2rem;
}

#navigation .nav-link {
    color: #f5f3f4;
}

.navbar .container-md a:hover {
    color: #18020C;
    text-decoration: underline;
}

#navigation .nav-link:hover {
    color: #634B66;
}

p a {
    color: darkgray;
}

.card-footer h5 a {
    color: #2d6a4f;
}

.card-footer h5 a:hover {
    color: black;
}

.card {
    transition: all 0.5s;
}

.card:hover {
    transform: scale(1.05, 1.05);
}

.bi.bi-github:hover,
.bi.bi-linkedin:hover,
.bi.bi-facebook:hover,
.bi.bi-youtube:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s;
}