@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    background-color: #D5CFE1;
    font-family: 'Source Sans Pro', sans-serif;
}

.card-img {
    filter: blur(4px);
    -webkit-filter: blur(4px);

    height: 100vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.card-img-overlay .card-body h1 {
    font-weight: bold;
}

.navbar {
    font-size: 1.2rem;
}

#navigation .nav-link {
    color: #f5f3f4;
}

.navbar .container-md a:hover {
    color: #18020C;
    text-decoration: underline;
}

#navigation .nav-link:hover {
    color: #634B66;
}

.profileImg {
    border: thick double #f5f3f4;
    border-radius: 50%;
}

p a {
    color: darkgray;
}

.bi.bi-github:hover,
.bi.bi-linkedin:hover,
.bi.bi-facebook:hover,
.bi.bi-youtube:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s;
}