@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar {
    font-size: 1.2rem;
}

#navigation .nav-link {
    color: #f5f3f4;
}

.navbar .container-md a:hover {
    color: #18020C;
    text-decoration: underline;
}

#navigation .nav-link:hover {
    color: #18020C;
}

.col-6 a {
    color: #0077b6;
}

.col-6 a:hover {
    color: #18020C;
}

.col-4 .bi.bi-linkedin {
    color: #0077b6;
}

.col-4 .bi.bi-facebook {
    color: #023e8a;
}

.col-4 .bi.bi-youtube {
    color: #e63946;
}

.bi.bi-github:hover,
.bi.bi-linkedin:hover,
.bi.bi-facebook:hover,
.bi.bi-youtube:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s;
}

img:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.5s;
}

p a {
    color: darkgray;
}